* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* ROWS */
.row-head {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.row-foot {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row-center {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-main {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.row-singola {
    width: 60%;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* FINE ROWS */

/* COLONNE */
.col-20 {
    width: calc(100% / 5 - 20px);
    margin: 10xp;
}

.col-25 {
    width: calc(100% / 3);
    height: 60px;
}

.col-33 {
    width: calc(100%/3 - 20px);
    margin:30px 10px;
    border: 1px solid lightgray;
}

.col-33-b {
    width: calc(100%/3 - 20px);
    margin: 10px;
    margin-top: 30px;
}

.col-33vw {
    width: calc(100%/3);
    margin-top: 40px;
}

.col-int {
    width: calc(100% / 2);
    height: 200px;
    display: flex;
    align-items: center;
}

.col-50 {
    width: calc(100% / 2);
    margin-top: 60px;
    margin-bottom: 120px;
}

.col-60-top {
    width: 100%;  
    margin-top: 100px;
}

.col-60-bottom {
    width: 100%;  
    border: 1px solid lightgray;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-faq {
    width: 100%;
}
/* FINE COLONNE */

.txt {
    font-size: 12px;
    margin-top: 20px;
}

.logo {
    margin-top: 20px;
    width: 100px;
    margin-left: 20px;
}

button {
    background-color: rgb(0, 110, 255);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-top: 15px;
    margin-right: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* fine header */

.title {
    margin-top: 100px;
    font-size: 60px;
}

.cont-relative {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-start;
}

.jumbo {
    position: absolute;
    width: 700px;
    top: 280px;
    left:270px;
}

.button-jumbo {
    background-color: rgb(0, 110, 255);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    margin: 35px 0;
}

.arrow {
    font-size: 70px;
}

.content-sec1-top {
    text-align: center;
    padding: 5px;
    border: 0.5px solid lightgray;
}

.content-sec1-list {
    padding-top: 20px;
    padding: 20px;
}

.txt-bold {
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
}

.sub-option {
    font-size: 12px;
    color: gray;
    line-height: 8px;
}

ul {
    list-style-type: none;
    margin-top: 50px;
}

.click {
    color: blue;
    text-decoration: underline;
}

.button-plan {
    background-color: rgb(0, 110, 255);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
}

hr {
    margin: 35px;
    margin-right: 120px;
}

.check {
    color: rgb(0, 110, 255);;
}

.content-bottom {
    padding-top: 20px;
    padding: 20px;
    position: relative;
}

.button-absolute {
    background-color: rgb(0, 110, 255);
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    right: 15px;
    top:15px;
}

/* sezione-2 */
.content-img {
    position: relative;
    margin-top: 50px;
}

.content-txt {
    margin-left: 60px;
    margin-top: 70px;
}

.img-sec2 {
    position: absolute;
    width: 110%;
    top: -20px;
}

.button-white {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}

.img-square {
    width: 100%;
}

#green {
    background-color: lightgreen;
    border: 10px solid rgb(191, 255, 191);
}

#burgundy {
    background-color: rgb(105, 2, 33);
}

#lightblue {
    background-color: rgb(74, 195, 243);
}

#red {
    background-color: red;
}

#dark-red {
    background-color: rgb(199, 0, 0);
}

#light-blue {
    background-color: lightblue;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: rgb(255, 230, 0);
}

#gray {
    background-color: rgb(224, 224, 224);
}

.purple {
    color: rgb(105, 2, 33);
    text-align: left;
    padding: 60px 0;
}

#black {
    background-color: black;
}

.logo1 {
    filter: invert(100%);
    width: 50%;
}

.logo2 {
    width: 50%;
}

.content-small {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-center {
    margin: 50px;
}

.white {
    background-color: white;
    color: black;
    right: 15px;
    top:60px;
    position: absolute;
}

h2 {
    font-size: 30px;
}

.cont-faq p {
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
}

.cont-faq {
    margin-bottom: 90px;
}

.border-bot {
    border-bottom: 1px solid gray;
}

.freccia {
    font-size: 15px;
    margin-top: 15px;
    margin-right: 15px;
}

.subtitle {
    margin-top: 80px;
    margin-bottom: 40px;
}

.txt-white {
    color: white;
    font-size: 12px;
    line-height: 25px;
}

.txt-gray {
    color: gray;
    font-size: 12px;
    line-height: 25px;
}

.txt-bold-white {
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 50px;
}

.row-foot ul {
    padding-bottom: 50px;
}

.row-foot p {
    padding-bottom: 25px;
}
